@model IEnumerable<OnlineShop.Common.ViewModels.ImagenesViewModel>

<div class="col-md-11">
    @Html.FileUploadBoostrap("imagenesUpload")
</div>




<script>
    $("#imagenesUpload").fileinput({
        uploadUrl: '@Url.Action("GrabarImagen")',
        uploadAsync: true,
        minFileCount: 1,
        maxFileCount: 5,
        overwriteInitial: false,
        initialPreview: [
            "<img src='http://placeimg.com/200/150/people/1'>",
            "<img src='http://placeimg.com/200/150/people/2'>",
        ],
        initialPreviewConfig: [
            { caption: "People-1.jpg", width: "120px", url: "/site/file-delete", key: 1 },
            { caption: "People-2.jpg", width: "120px", url: "/site/file-delete", key: 2 },
        ],
        uploadExtraData: {
            img_key: "1000",
            img_keywords: "happy, people",
        }
    });
</script>

<style>
    .file-caption {
        height: 34px !important;
        padding-top: 7px !important;
    }
</style>
