@model IEnumerable<OnlineShop.Common.ViewModels.ProductoViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-3">
        <span>Productos</span>
    </div>
    <div class="col-md-9">
        
    </div>

</div>

