@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ventas en Linea</h1>
    <p class="lead">Portal de Ventas en linea</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>